* {
    box-sizing: border-box;
    font-family: open-sans, sans-serif;
    color: #444444;
}

/* fonts */
@font-face {
    font-family: open-sans;
    src: url(./assets/fonts/Open-sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: raleway-bold;
    src: url(./assets/fonts/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: raleway-normal;
    src: url(./assets/fonts/Raleway/static/Raleway-Medium.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(./assets/fonts/Raleway/static/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: raleway-light;
    src: url(./assets/fonts/Raleway/static/Raleway-Light.ttf);
}

@font-face {
    font-family: poppins-semibold;
    src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

/* variables */
:root {
    --blue-1: #124364;
    --blue-2: #3498db;
    --blue-3: #4ea5e0;
    --blue-4: #57aae1;
    --blue-5: #5faee3;
    --blue-6: #b6daf2;
    --black: #000;
    --black-2: #111;
    --black-3: #212529;
    --black-4: #333;
    --black-5: #444444b3;
    --grey-1: #384046;
    --grey-2: #4f5a62;
    --grey-3: #65747f;
    --grey-4: #777777;
    --grey-5: #848484;
    --grey-6: #999;
    --grey-7: #919191;
    --grey-8: #9ba6af;
    --grey-9: #aaaaaa;
    --grey-10: #b8b8b8;
    --grey-11: #ffffffcc;
    --grey-12: #ced4da;
    --grey-13: #ddd;
    --grey-14: #e1f0fa;
    --grey-15: #eaf4fb;
    --grey-16: #f7fbfe;
    --white: #fff;
}

/* ------------------------------ */
/* navbar styles */
/* ------------------------------ */

nav {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.logo {
    font-family: raleway-semibold, sans-serif;
    letter-spacing: 1px;
    color: var(--grey-1);
}

.logo:hover {
    color: var(--grey-1);
}

.nav-link {
    color: var(--grey-2);
    font-family: poppins-semibold, sans-serif;
}

.nav-icon {
    color: var(--grey-8) !important;
}

.nav-icon,
.nav-link {
    transition-duration: .5s;
}

.nav-icon:hover,
.nav-link:hover {
    color: var(--blue-2) !important;
}

/* ------------------------------ */
/* header styles */
/* ------------------------------ */

header {
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-image: url(./assets/img/hero-bg.jpg);
}

.cover {
    background-color: rgba(56, 64, 70, 0.7);
}

.header-title,
.lumia {
    color: var(--white);
    font-family: raleway-bold, sans-serif;
}

.lumia {
    border-bottom: 4px solid var(--blue-2);
}

.header-text {
    font-family: raleway-normal, sans-serif;
    color: var(--grey-11);
}

.header-btn {
    color: var(--white);
    transition-duration: .5s !important;
    background-color: var(--blue-2) !important;
    font-family: poppins-regular, sans-serif !important;
    font-size: .8rem !important;
    letter-spacing: 2px;
    height: 2.7rem;
    width: 10rem;
    border-radius: 5px !important;
    border: none !important;
}

.header-btn:hover {
    background-color: var(--blue-3) !important;
}

/* ------------------------------ */
/* what we do */
/* ------------------------------ */

.what-we-do {
    padding: 3.75rem;
}

.sec-one-title {
    font-family: raleway-semibold, sans-serif;
}

.sec-one-title::before,
.sec-one-title::after {
    content: "";
    text-decoration: underline;
    position: absolute;
}

.sec-one-title::before {
    width: 100px;
    height: 1px;
    background-color: var(--grey-13);
    bottom: -1.34rem;
    z-index: 1;
}

.sec-one-title::after {
    width: 40px;
    height: 3px;
    background-color: var(--blue-2);
    bottom: -1.4rem;
    z-index: 2;
}

.sec-one-text {
    margin: 2.5rem 0 2rem 0;
}

.sec-one-card {
    width: 32% !important;
    transition-duration: .5s;
}

.sec-one-card:hover {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.102);
}

.sec-one-card:hover .sec-one-card-title {
    color: var(--blue-2);
}

.sec-one-i-container {
    width: 63px;
    height: 63px;
    background-color: var(--grey-15);
}

.sec-one-card-icon {
    color: var(--blue-2);
}

.sec-one-card-title {
    font-weight: 600;
    font-family: raleway-semiboldd, sans-serif;
    color: var(--grey-1);
    line-height: 2rem;
    transition-duration: .5s;
}

.sec-one-card-title:hover {
    color: var(--blue-2);
}

.sec-one-card-text {
    font-size: .9rem;
    line-height: 1.5rem;
}

/* ------------------------------ */
/* about us */
/* ------------------------------ */

/* about us */

.about-us-wrapper {
    padding: .625rem 0;
}

.about-us-img {
    width: 49%;
    height: 10%;
}

.about-us {
    width: 49%;
}

.about-us-title {
    font-family: raleway-semibold, sans-serif;
}

.check-all-icon {
    color: var(--blue-2);
    margin-right: .3rem;
}

.receipt-icon {
    font-size: 3rem;
    color: var(--blue-2);
}

.about-us div:nth-child(2) div h4 {
    font-family: raleway-bold, sans-serif;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.about-us div:nth-child(2) div p {
    color: var(--grey-5);
    font-size: .95rem !important;
}

/* skills */

.skills-wrapper {
    padding: 3.75rem 0;
}

.skill-container div:nth-child(1) {
    line-height: 3.5rem;
}

.skill {
    font-family: poppins-semibold, sans-serif;
    font-size: .75rem;
}

.skill-container div:nth-child(2) {
    height: .6rem;
}

.skill-container div:nth-child(2) div {
    background-color: var(--blue-5);
}

/* about our work */

.our-work-wrapper {
    padding: 1.100rem 0 2.5rem 0;
}

.our-work div {
    width: 3rem;
    height: 3rem;
    background-color: var(--blue-2);
}

.our-work div i {
    color: var(--white);
    font-size: 1.3rem;
}

.our-work h1 {
    color: var(--blue-1);
    font-weight: 600;
    letter-spacing: .1rem;
}

.our-work p {
    font-size: .9rem;
    font-family: raleway-light, sans-serif;
}

/* ------------------------------ */
/* services */
/* ------------------------------ */

.services {
    background-color: var(--grey-16);
    padding: 3.75rem 0;
}

.services-card-wrapper {
    height: 35rem;
}

.services-card {
    height: 10rem;
    border-radius: .5rem;
    padding: 1.875rem !important;
    transition-duration: .5s;
}

.services-card:hover {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.102);
}

.services-card:hover .services-card-title {
    color: var(--blue-2);
}

.services-card i {
    color: var(--blue-2);
    margin-right: 2rem;
}

.services-card div h5 {
    margin-bottom: 1rem;
}

.services-card-title {
    color: var(--grey-1);
    font-family: raleway-bold, sans-serif;
    transition-duration: .5s;
    font-size: 1.125rem;
}

.services-card p {
    font-size: .9rem;
    line-height: 1.6rem;
}

/* ------------------------------ */
/* portfolio */
/* ------------------------------ */

.portfolio {
    padding: 3.75rem 0;
}

/* buttons */

.buttons-wrapper {
    width: 17rem;
}

.buttons-wrapper>button {
    width: 3.8rem;
    padding: .7rem 0;
    font-size: .75rem;
    transition-duration: .5s;
    border-radius: .2rem;
}

.buttons-wrapper button:hover {
    color: var(--white);
    background-color: var(--blue-2) !important;
}

/* cards */

.portfolio-cards-wrapper {
    height: 71.25rem;
    margin-top: 2.5rem;
}

.portfolio-card {
    width: 31.9%;
    height: 20.625rem !important;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
    overflow: hidden;
    position: relative;
    transition-duration: .3s;
}

.portfolio-card:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.card-info {
    width: 100%;
    height: 5.625rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-info h4 a {
    color: var(--black-4);
    font-size: 1.125rem;
    font-family: raleway-bold, sans-serif;
}

.card-info h4 a:hover {
    color: var(--blue-2);
}

.card-info p {
    color: var(--grey-10);
    font-size: 0.875rem;
}

/* onhover card details */
.card-details {
    height: calc(100% - 90px) !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    transition-duration: .3s;
}

.card-details:hover {
    background-color: rgba(0, 0, 0, .5);
}

.card-hover-icons {
    width: 2.25rem;
    height: 2.25rem;
    transition-duration: .3s;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.card-hover-icons:hover {
    background-color: var(--blue-2);
}

.card-hover-icons:hover i {
    color: var(--white);
}

.card-hover-icons:first-child {
    transform: translate(1.125rem);
    left: calc(50% - 2.25rem);
}

.card-hover-icons:last-child {
    transform: translate(-1.125rem);
    right: calc(50% - 2.25rem);
}

.card-details:hover .card-hover-icons:first-child {
    transform: translate(2.7rem);
}

.card-details:hover .card-hover-icons:last-child {
    transform: translate(-2.7rem);
}

.card-hover-icons i {
    transition-duration: .3s;
    color: var(--grey-1);
    font-size: 1.25rem;
}