@font-face {
    font-family: raleway;
    src: url(./assets/fonts/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: raleway-normal;
    src: url(./assets/fonts/Raleway/static/Raleway-Medium.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(./assets/fonts/Raleway/static/Raleway-SemiBold.ttf);
}

* {
    font-family: raleway;
}

:root {
    /* #4f5a62 */
    --grey: #444444;
    --light-grey: #4f5a62;
    --blue: #0d6efd;
    --bright-blue: #3498db;
}

nav {
    font-family: raleway, sans-serif;
}

.nav-link:hover {
    transition-duration: .3s;
    color: var(--bright-blue) !important;
}

.logo {
    font-family: raleway-semibold;
    letter-spacing: 1px;
    color: var(--grey);
}

.nav-link {
    color: var(--grey) !important;
}

nav>div>ul>li>a>i {
    color: var(--grey) !important;

}

header {
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-image: url(./assets/img/hero-bg.jpg);
}

header>div>section>h1>span {
    text-decoration: underline;
    text-decoration-color: var(--bright-blue) !important;
}

header>div>section>p {
    font-family: raleway-normal, sans-serif;
    color: rgba(255, 255, 255, .8);
}

header>div>section>button {
    background-color: var(--bright-blue) !important;
    font-family: sans-serif !important;
    font-size: .74rem !important;
    letter-spacing: 2px;
    height: 2.7rem;
    width: 10rem;
    border-radius: 5px !important;
}

header>div>section>button:hover {
    transition-duration: .5s;
    background-color: #4EA5E0 !important;
}

.section-one>h4 {
    color: var(--main-black);
    font-family: raleway-semibold;
    position: relative;
    display: flex;
    justify-content: center;
}

.section-one>h4::before,
.section-one>h4::after {
    content: "";
    text-decoration: underline;
    position: absolute;
}

.section-one>h4::before {
    width: 100px;
    height: 1px;
    background-color: #ddd;
    bottom: 0;
    z-index: 1;
}

.section-one>h4::after {
    width: 40px;
    height: 3px;
    background-color: var(--bright-blue);
    bottom: -1px;
    z-index: 2;
}

.section-one>p {
    font-family: raleway-normal;
}